<h1>Hello, world!</h1>
<p>Welcome to your DIY Manager!</p>
<br/>
<p>What can you find here?</p>
<ul>
  <li><strong>List of all your DIY projects</strong>. Are you working on multiple projects? List them all here, and you won't forget about anything!</li>
  <li><strong>Details of all your projects</strong>. Add details to your projects so you won't forget what fabric you used or who is author of the pattern!</li>
  <li><strong>Keep track</strong>. Keep track of when and for how long you worked on specific projects!</li>
</ul>
