/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

body {
  background-color: #EFEADD;
}

.validation-error {
    color: red;
    font-size: .75rem;
    margin-bottom: 1rem;
}

.btn-primary {
  color: #fff;
  background-color: #5B3547;
  border-color: #5B3547;
}

  .btn-primary:hover {
    color: #fff;
    background-color: #8B677C;
    border-color: #8B677C;
  }

  .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #5B3547!important;
    border-color: #5B3547!important;
  }

  .btn-primary:disabled {
    color: #fff;
    background-color: #5B3547;
    border-color: #5B3547;
  }

fa-icon svg {
  width: inherit !important;
  height: inherit !important;
}
