<form [formGroup]="addProjectForm" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New project</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="nameInput">Name</label>
      <input
        type="text"
        id="nameInput"
        class="form-control"
        placeholder="Name of your project"
        formControlName="name"
      />
      <div
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="validation-error"
      >
        <div *ngIf="name.errors.required">Name is required.</div>
      </div>
      <label for="descriptionInput">Description</label>
      <div class="input-group">
        <input
          type="text"
          id="descriptionInput"
          class="form-control"
          placeholder="Description"
          formControlName="description"
        />
      </div>
      <label for="nameInput">Thumbnail</label>
      <input
        type="file"
        id="filSeInput"
        accept="image/*"
        (input)="handleFileInput($event.target.files)"
        style="display: none"
        #fileInput
      />
      <button
        type="button"
        class="btn-block btn-primary"
        (click)="toggleFileInput()"
      >
        Select file
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-lg btn-primary btn-block">Save</button>
  </div>
</form>
