<form
  class="text-center form-signup"
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
>
  <fa-icon class="form-header-icon" [icon]="faCrow"></fa-icon>
  <h1 class="h3 mb-3 font-weight-normal">Create an account</h1>
  <label for="inputUsername" class="sr-only">Username</label>
  <input
    type="text"
    id="inputUsername"
    class="form-control"
    placeholder="Username"
    formControlName="username"
    autofocus
  />
  <div
    *ngIf="username.invalid && (username.dirty || username.touched)"
    class="validation-error"
  >
    <div *ngIf="username.errors.required">Name is required.</div>
  </div>
  <label for="inputPassword" class="sr-only">Password</label>
  <input
    type="password"
    id="inputPassword"
    class="form-control"
    placeholder="Password"
    formControlName="password"
  />
  <label for="inputName" class="sr-only">Name</label>
  <input
    type="text"
    id="inputName"
    class="form-control"
    placeholder="Name to be displayed"
    formControlName="name"
  />
  <div *ngIf="errorMessage" class="validation-error">
    {{ errorMessage }}
  </div>
  <button
    class="btn btn-lg btn-primary btn-block"
    type="submit"
    [disabled]="!registerForm.valid"
  >
    Sign up
  </button>
  <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
</form>
