<div class="card mb-4 shadow-sm">
  <img
    id="projectThumbnail"
    [hidden]="!isThumbnailAttached"
    class="img-project-card"
    #projectThumbnail
  />
  <fa-icon
    class="img-project-card"
    [icon]="faCrow"
    [hidden]="isThumbnailAttached"
  ></fa-icon>
  <div class="card-body">
    <p class="card-text">{{ project.name }}</p>
    <p class="card-text card-text-desc">{{ project.description }}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary"
          (click)="goToProjectDetails()"
        >
          View
        </button>
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary"
          (click)="deleteProject()"
        >
          Delete
        </button>
      </div>
      <small class="text-muted">{{
        project.lastModified | date: "yyyy-MM-dd"
      }}</small>
    </div>
  </div>
</div>
